<mat-toolbar *ngIf="checkUrl != '/' && checkUrl != '/login' && checkUrl != '/signup'">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Data Table</span>
    <span class="example-spacer"></span>
    <button mat-raised-button *ngIf="isConnected && checkUrl == '/integration'" routerLink="data-table" style="margin-right: 0.8rem;">{{ 'Show Full Integration' }}</button>
    <button mat-raised-button *ngIf="isConnected && checkUrl == '/data-table'" routerLink="integration" style="margin-right: 0.8rem;">{{ 'Back' }}</button>
    <button mat-raised-button (click)="onClickLogoutBtn()">{{ 'Logout' }}</button>
</mat-toolbar>

<router-outlet></router-outlet>