<div class="form-container" style="width: min-content; margin: 0% auto;">
    <mat-card class="form-card" style="padding: 2rem;">
        <mat-card-title class="form-title mb-5">Signup</mat-card-title>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width mb-5">
                <mat-label for="firstName">First Name</mat-label>
                <input matInput id="firstName" type="text" formControlName="firstName"
                    placeholder="Enter your first name" />
                <mat-error *ngIf="registrationForm?.get('firstName')?.hasError('required')">
                    First Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width mb-5">
                <mat-label for="lastName">Last Name</mat-label>
                <input matInput id="lastName" type="text" formControlName="lastName"
                    placeholder="Enter your last name" />
                <mat-error *ngIf="registrationForm?.get('lastName')?.hasError('required')">
                    Last name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width mb-5">
                <mat-label for="email">Email</mat-label>
                <input matInput id="email" type="text" formControlName="email" placeholder="Enter your email" />
                <mat-error *ngIf="registrationForm?.get('email')?.hasError('required')">
                    Email is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width mb-5">
                <mat-label for="password">Password</mat-label>
                <input matInput id="password" type="password" formControlName="password" placeholder="Enter your password" />
                <mat-error *ngIf="registrationForm?.get('password')?.hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="registrationForm?.get('password')?.hasError('minlength')">
                    Password must be at least 8 characters long
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width mb-5">
                <mat-label for="confirmPassword">Confirm Password</mat-label>
                <input matInput id="confirmPassword" type="password" formControlName="confirmPassword"
                    placeholder="Enter your confirm password" />
                <mat-error *ngIf="registrationForm?.get('password')?.hasError('required')">
                    Confirm Password is required
                </mat-error>
            </mat-form-field>

            <button mat-flat-button type="submit" [disabled]="registrationForm.invalid">Submit</button>
        </form>
        <p>Already have an account? <a routerLink="/login">Login</a></p>
    </mat-card>
</div>