.v-align {
    vertical-align: text-bottom;
}

.v-margin {
    margin: 0.5rem 0;
}

.c-align {
    width: auto;
    text-align: center;
}

.r-align {
    width: auto;
    text-align: right;
}

.align-horizontal {
    width: 80%;
    margin: 1% auto;
}

.mb-5 {
    margin-bottom: 15px;
}